* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #302f2e;
  color: whitesmoke;
  font-style: italic;
}

/*-------header--------*/
.page {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin: 5vh 0 5vh 0;
}

.header_title {
  text-transform: uppercase;
  color: #f5f0ef;
  text-shadow: 4px 4px 2px rgba(243, 255, 69, 0.33);
}

.header_title-large {
  color: yellow;
  font-size: large;
}

/*--------main------------*/
main {
  position: relative;
}

.main_cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px 5px;
}

.main_card {
  width: 100%;
  border-radius: 6%;
  overflow: hidden;
  transition: all 0.3s;
}

.main_card--animation {
  animation: rotate 1s;
}

.main_card--pointer {
  cursor: pointer;
}

.main_img {
  max-width: 100%;
  border-radius: 6%;

}

.main_card--guessed {
  opacity: 0.4;
}

.main_card--shadow {
  box-shadow: 0px 0px 5px yellow;
}

.main_card--rotate {
  transform: rotateY(80deg);
}

.main_score {
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.main_score-btn {
  font-size: 24px;
  background-color: #302f2e;
  color: #ecd716;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.btn_main--off {
  cursor: default;
}

/*------footer-------*/
footer {
  margin-top: 10px;
  text-align: right;
  color: yellow;
  cursor: pointer;
  font-size: 18px;
  opacity: .6;
}

a {
  color: beige;
  text-decoration: none;
}

@keyframes rotate {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}